@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #1B2029;
    color: #FFFFFF;
    display: flex;
}

#toggleColor{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    appearance: none;
    background-color: #fff;
    position: relative;
    top: 0;
    left: 0;
}
.toggleButton{
    margin-bottom: 20px;
}

#toggleColor::before{
    content: "";
    background-color: #3951FF;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    box-sizing: border-box;
    margin-left: 1.5px;
    transition: all .4s ease-in-out;
    box-shadow: 1px 1px 4px #928f8f;
    margin-top: 2px;
}

#toggleColor:checked::before{
    background-color: #FFFFFF;
    transform: translateX(40px);
}
#toggleColor:checked{
    background-color: #3951FF;
}

.card{
    width: 400px;
    height: 100vh;
    background-color: #283593;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card img{
    width: 260px;
    height: 260px;
    border-radius: 200px;
}

.central-text{
    text-align: center;
}

.welcome {
    font-family: "Poppins",sans-serif;
}

.name {
    font-family: "Odibee Sans", sans-serif;
    color: #3951FF;
    font-size: 3rem;
    font-weight: 300;
    margin-top: 40px;
}

.icons {
    display: flex;
    margin-top: 7rem;
}

.link {
    width: 70px;
    height: 70px;
    background-color: #C4C4C4;
    display: flex;
    margin: 10px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    transition: background-color .4s, border 8s ease;
    cursor: pointer;
    box-sizing: border-box;
}

.link:hover{
    background-color: #3951FF;
    border: 1px solid #FFFFFF;
}
.link svg {
    width: 30px;
    height: 30px;
}
.link svg path{
    background-color: #FFFFFF;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
}
.circle{
    width: 100%;
    height: 100%;
    background-color: #3951FF;
    position: absolute;
    clip-path: circle(30% at right 100%);
    z-index: -1;
}

.toggle-mode{
    background-color: #FFFFFF;
}
.toggle-text{
    color: #3951FF;
}
